.subTit{
    padding: 20px 0 10px;
    font-weight: bold;
    font-size: 16px;
    &:first-child{
        padding-top: 0;
    }
}
.boxliner{
    border-bottom: 1px solid #eee;
    &:nth-last-child(1){
        border: none;
    }
}
.formlabelcss{
    :global {
        .ant-form-item-label{
            line-height: 30px
        }
        .ant-form-item{
            margin-bottom: 0px
        }
}}